<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93773042562-h470gqtvblm4igneptccq43eosaojjac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93773042562-h470gqtvblm4igneptccq43eosaojjac</string>
	<key>API_KEY</key>
	<string>AIzaSyA6fEg4c58LRcmQeKLBzBZiBPqSIlEtYyo</string>
	<key>GCM_SENDER_ID</key>
	<string>93773042562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yashmulki.SmylePaymentTerminal</string>
	<key>PROJECT_ID</key>
	<string>smyle-bf6e4</string>
	<key>STORAGE_BUCKET</key>
	<string>smyle-bf6e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93773042562:ios:72a345c9860c9bfc6c359b</string>
	<key>DATABASE_URL</key>
	<string>https://smyle-bf6e4.firebaseio.com</string>
</dict>
</plist>